.Leave-review {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.Leave-review--header-div {
    display: flex;
    flex-shrink: 0;
    align-items: end;
}

.roboto-font {
    display: flex;
    align-items: center;
    font-family: 'Roboto';
}

@media screen and (max-width: 550px) {
    .Leave-review--header-div {
        flex-direction: column;
    }
}
