.Leave-review {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.Leave-review--header-div {
    display: flex;
    align-items: end;
}


@media screen and (max-width: 550px) {
    .Leave-review--header-div {
        flex-direction: column;
    }
}
